################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WindowsService1/v16/.suo
/bin/Debug
/obj/Debug
/packages/Newtonsoft.Json.13.0.1
