# This is a basic workflow to help you get started with Actions

name: CI





# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    
    strategy:
      matrix:
        targetplatform: [AnyCPU] #targetplatform: [x86, x64]
  
    # The type of runner that the job will run on
    runs-on: windows-latest



    env:
      App_Packages_Directory: AppPackages
      SigningCertificate: GitHubActionsDemo.pfx
      Solution_Path: WindowsService1.sln
      Test_Project_Path: MyWpfApp.Tests\MyWpfApp.Tests.csproj
      Wpf_Project_Path: MyWpfApp\MyWpfApp.csproj
      Wap_Project_Directory: MyWpfApp.Package
      Wap_Project_Name: MyWpfApp.Package.wapproj
      Actions_Allow_Unsecure_Commands: true # Allows AddPAth and SetEnv commands
      Configuration: Release
      ZipFileName: WindowsService1.zip

  #  defaults:
   #   run:
    #    working-directory: ./mydirectory
        
        
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        name: Checkout Code
      
      # Setup Msbuild
      - name: setup-msbuild
        uses: microsoft/setup-msbuild@v1
      
      # Setup NuGet
      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.0.2
        with:
          nuget-api-key: ${{ secrets.NuGetAPIKey }}
          nuget-version: '5.x'
      - run: nuget restore $env:Solution_Path
        
      # Restore NuGet Packages
      #- name: Restore NuGet Packages
      #  run: nuget restore WindowsService1.sln
        
      # Build the Solution           
      - name: Build the Solution
        run: msbuild  $env:Solution_Path  /p:Configuration=$env:Configuration -m
      
      - name: Zip It
        run: 7z.exe a $env:ZipFileName p bin\Release
      
   
         



